# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Docker
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Coverage
.coverage
coverage.xml
htmlcov/

# OS
.DS_Store
Thumbs.db
